<div style="min-width: 100%;min-height: 100%;background-image: url('../assets/Images/background.jpg');">
    <br>
<div class="container">
<h3>User Registration</h3>
    <form #Registerform="ngForm" (ngSubmit)="registerUser()">
               <small class="text-danger" >{{msg}}</small>
          
        <div class="form-group">
            <label for="photo">Upload Photo:</label>
            <input type="file" class="form-control" (change)="onSelectFile($event)" style="height:100%" ng-required="file" >
          </div>
          <!-- <button class="btn btn-success" (click)="upload()">
            Upload
          </button> -->
    
      
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control"  name="email" [(ngModel)]="user.emailid" required pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        #email="ngModel"
        [class.is-invalid]="email.invalid && email.touched">
        <!-- <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small> -->
     <div *ngIf="email.errors && email.invalid && email.touched">
         <small class="text-danger" *ngIf="email.errors.required">Email id is required</small>
         <small class="text-danger" *ngIf="email.errors.pattern">Enter valid email id</small>
     </div>
      </div>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="username" class="form-control" name="username" [(ngModel)]="user.username" required #username="ngModel"
        [class.is-invalid]="username.invalid && username.touched">
        <small class="text-danger" [class.d-none]="username.valid || username.untouched">Username is required</small>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="user.password" required #password="ngModel"
        [class.is-invalid]="password.invalid && password.touched">
        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small>
      </div>

      <div class="form-group">
        <label for="pwd">Confirm Password:</label>
        <input type="password" class="form-control" name="cpassword" [(ngModel)]="user.cpassword" required #cpassword="ngModel"
        [class.is-invalid]="cpassword.invalid && cpassword.touched">
        <small class="text-danger" [class.d-none]="(cpassword.value == password.value)  || cpassword.untouched">Password and confirm password should match</small>
      </div>
    
      <button [disabled]="Registerform.form.invalid" type="submit" class="btn btn-info">Register</button>
    </form>

    <small class="float-right" [routerLink]="['/login']">Existing User? Login here</small>
  </div>
  </div>

  